# sshd_config file managed through ansible
# ansible_managed

AddressFamily inet
AuthorizedKeysFile /etc/ssh/authorized_keys/%u
ChallengeResponseAuthentication no
ClientAliveInterval 300
Compression yes
Ciphers aes256-ctr,aes192-ctr,aes128-ctr
GatewayPorts no
GSSAPIAuthentication no
HostbasedAuthentication no
IgnoreRhosts yes
IgnoreUserKnownHosts yes
KeepAlive yes
KerberosAuthentication no
KexAlgorithms diffie-hellman-group-exchange-sha256
KeyRegenerationInterval 3600
LoginGraceTime 2m
LogLevel VERBOSE
MACs hmac-sha2-512,hmac-sha2-256
MaxAuthTries 5
PasswordAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
PermitTunnel no
PermitUserEnvironment no
Port 22
PrintMotd no
PrintLastLog no
Protocol 2
PubkeyAuthentication yes
RequiredAuthentications2 publickey
RhostsRSAAuthentication no
StrictModes yes
Subsystem       sftp    internal-sftp
SyslogFacility AUTH
SyslogFacility AUTHPRIV
TCPKeepAlive yes
UseDNS no
UsePrivilegeSeparation yes
X11Forwarding no

# OpenSSH 5.3 supported HostKey algorithms by order of preference.
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key




Match Group sftp
    ChrootDirectory %h
    ForceCommand internal-sftp
    AllowTcpForwarding no
