tinker panic 0
restrict 127.0.0.1
restrict default kod nomodify notrap

# NTP server pool, use 3 minimally
{% for server in ntp_servers %}
server {{ server }}
{% endfor %}

driftfile /var/lib/ntp/drift

# Avoid using the local clock
server 127.127.1.0 # local clock
fudge 127.127.1.0 stratum 10
